*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:black;
    color:white;
}
.main{
    width: 1320px;
    margin: center;
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: center;
    padding: 40px 0px;
    color:white;
}
.filter-box{
    flex-basis: 23%;
}
.product{
    display: flex;
    flex-basis: 75%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.category-list{
    margin-top: 20px;
    margin-left: 25%;
}
.category-list label{
    padding: 10px 32px;
    display: block;
   
}
.product-items{
    flex-basis: 31%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 2px cyan;
    border:blue;
    margin-top:20px;
}
.product-items img{
    width: 100%;
    height: 250px;
}
.product-items p {
    padding: 15px;
}
.product-items h3,h4 {
    padding: 16px;
}

nav  {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	color: white;
	padding:4px;
}
.search {
	  width: 100%;
	  height: 40px;
	  padding:4px;
	  margin-left:10px;
}
.container {
	width: 1100px;
	margin: 0px right;
	display: table;
}
.width-66 {
	width: 100%;
}
.button{
	padding:5px;
}